.main {
  min-height: calc(100vh - 285px);
  justify-content: center;
  display: flex;
  width: 100%;
}

.main__wrapper {
  flex-direction: row;
  position: relative;
  display: flex;
  width: 100%;
}

.main_aside {
  background-color: #d9d9d9;
  flex-direction: column;
  padding: 15px 16px;
  max-width: 260px;
  color: #565555;
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
}

.btn-back {
  position: absolute;
  display: flex;
  left: 36px;
  top: 10px;
}

.btn-arrow {
  transition: 0.3s;
  margin-right: 28px;
}

.btn-back:hover {
  color: black;
}

.btn-back:hover .btn-arrow {
  transform: translate(-5px, 0);
}

.aside_title {
  letter-spacing: 1px;
  margin-bottom: 36px;
  text-align: center;
  font-size: 1.45rem;
  font-weight: 500;
  line-height: 1;
}

.aside_options {
  flex-direction: column;
  margin-bottom: 80px;
  display: flex;
  width: 100%;
}

.aside_options:last-child {
  margin-bottom: 0;
}

.aside_option {
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 20px;
  align-items: center;
  padding: 10px;
  display: flex;
  width: 100%;
}

.aside_option:last-child {
  margin-bottom: 0;
}

.btn {
  width: auto;
}

.btn.btn-light,
.btn.btn-light:hover,
.btn.btn-light:active,
.btn.btn-danger,
.btn.btn-danger:hover,
.btn.btn-danger:active {
  border: 1px solid #565555;
}

.options_title {
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.main_section {
  flex-direction: column;
  position: relative;
  display: flex;
  width: 100%;
}

.btn-info {
  background-color: #79c7d1;
  border: 1px solid #000;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  font-weight: 350;
  font-size: 1rem;
  color: #000;
  display: flex;
  height: 40px;
  width: 100%;
}

.btn-info:hover {
  border: 1px solid #000;
  color: #000;
}

.header_navbar_burger {
  background-color: #2c2b2b;
  transition: 0.3s;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  padding: 0 5px;
  padding-top: 45px;
  overflow: hidden;
  display: none;
  z-index: 1;
  top: -20px;
  height: 0;
  right: 0;
}

.header_navbar_burger--active {
  height: 160px;
}

.header_navbar_burger::before {
  content: url("../../assets/icons/list.svg");
  position: absolute;
  height: 48px;
  right: 0px;
  top: 0;
}

@media (max-width: 576px) {
  .header_navbar_burger {
    display: flex;
  }

  .header_navbar_list {
    display: none;
  }
}

@media (max-width: 768px) {
  .btn-info {
    font-size: 0.875rem;
    height: 35px;
  }

  .btn-back {
    left: 10px;
  }
}

@media (max-width: 480px) {
  .btn-info {
    font-size: 0.75rem;
    height: 30px;
  }
}
